::selection {
  background: #f9eff9;
  color: #4a809b;
}

::-moz-selection {
  background: #f9eff9;
  color: #4a809b;
}

body {
  scrollbar-width: thin;
}

body {
  scrollbar-color: #766c79 #c3bbc4;
}

body:hover {
  scrollbar-color: #5c545f #c3bbc4;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #c3bbc4;
}

body::-webkit-scrollbar-thumb {
  background-color: #766c79;
  border: 3px solid #766c79;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #5c545f;
  border: 3px solid #5c545f;
}

.img_container {
  border-radius: 5px;
}

.img_container > div > div > div {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.kg-image-card {
  align-self: center;
  margin-top: 0 !important;
}

ul,
ol {
  list-style-position: inside;
}

code {
  font-family: "Fira Code", monospace !important;
  font-size: 16px !important;
}

blockquote {
  font-family: "Yamanatrav", sans-serif !important;
}

li {
  font-size: 18px !important;
}

li::marker {
  font-weight: bold !important;
}

code {
  font-size: 16px !important;
}
